.genius {
  display: grid;
  grid-template-areas:
    "oneQuarter twoQuarter"
    "threeQuarter fourQuarter";
  grid-gap: 10px;

  position: relative;
}

.genius-middle-circle {
  width: 10rem;
  height: 10rem;
  background-color: #333;

  position: absolute;

  left: 10.2rem;
  top: 10.2rem;

  border-radius: 100%;
}
